@import '../common/Variables.scss';

.comment {
  list-style: none;

  & + & {
    margin-top: -20px;

    .comment__text-container:before {
      content: none;
    }
  }

  &__text-container {
    position: relative;
    margin: 30px 0 100px;
    padding: 20px 30px 50px;
    background-color: $lighter-grey;
    
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -100%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $lighter-grey transparent;
    }
  }

  &__heading {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: 600;
  }
  
  &__text {
    padding: 0;

    &:after {
      box-shadow: inset $lighter-grey 0px -60px 60px;
      opacity: 0;
    }
  }
}
