@import './common/Variables.scss';

html,
body {
  font-family: "Open Sans", sans-serif;
  color: $text-dark-grey;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-container {
  margin: 30px auto;
}

.btn {
  font-size: 9px;
  font-weight: 600;
  border-radius: 0;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 40px;
  color: $blue;
  background-color: gold;
  border-color: gold;
  transition: all .3s ease;
}
