$gold: #fbd55c;
$lightest-grey: #f5f5f5;
$lighter-grey: #f0f0f0;
$light-grey: #d9d9d9;
$dark-grey: #f5f5f5;
$green: #58895b;
$red: #ed3d35;
$blue: #005a9e;
$text-light-grey: #b4b4b4;
$text-dark-grey: #333333;
$white: #ffffff;
